body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
nav {
  text-align: center
}

nav > a {
  padding-left: 10px;
  padding-right: 10px;
  background: gray
}

figcaption {
  font-size: 10pt;
  text-align: center
}

#featured-property p {
  width: 800px;
  text-align: center
}

#details {
  display: block;
}

#details > div {
  float: left;
  background: blue;
  text-align: center;
  width: 25%
}


